@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>

    <h4>
<strong>‘ATTIRE GURU’</strong> is an online clothing brand started its journey on 18 th September, 2022. It is a fully ecommerce shop that aimed to deliver high quality products at an affordable price. We always prioritize Quality over Quantity. We source only the finest materials all over the world. So, customers can put no confusion about the quality of the product.
    </h4>

<br />
<h4>
<strong>‘ATTIRE GURU’</strong> always keep an eye on the fashion trends around the world and deliver its customers the latest, unique &amp; most comfortable fashion wear.

</h4>


<br />
<h4>
Our customer service team is ready to serve you 24/7 with their generous behavior. All you need to do is order and help spread the word, we’ll take care of the rest.
</h4>
</div>
