@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>
<br />

<h3> 
    <strong>
        Email:
    </strong>
</h3>

<h4>
    help.attireguru@gmail.com
</h4>


<h3> 
    <strong>
        Hotline:
    </strong>
</h3>

<h4>
    01515220053
</h4>
<br />
<br />
<h4>For any delivery related query, fill free to contact us anytime.</h4>